/* src/components/HeroSection.css */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #fff;
    background-image: url(../assets/bg.avif);
    opacity: 800;
    height: 100vh;
  }
  
  .hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  }
  
  .hero-text {
    flex: 1;
    padding: 20px;
  }
  
  .hero-text h1 {
    font-size: 5em;
    margin-bottom: 20px;
    font-weight: 600;
    color: black;
  }
  
  .hero-text p {
    font-size: 1.9em;
    margin-bottom: 30px;
    color: black;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color:rgb(118, 54, 229) ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: rgb(118, 54, 229);
  }
  
  .hero-image {
    flex: 1;
  }
  
  .hero-image img {
   height: 28rem;
    border-radius: 10px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .hero-content {
      flex-direction: column;
    }
  
    .hero-text, .hero-image {
      flex: none;
      width: 100%;
      text-align: center;
    }
  
    .hero-image img {
      width: 100%;
    }
  }
  